/* if needed add width:100% to sections only */
.login {
    padding: 2rem;
    background-color: rgb(182, 223, 113);
    padding: 20vh;
}

.login h1{
    color: white;
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*might change to center*/
    justify-content: center;
}