.signup {
    padding: 100px;
    background-color: red;
}

.signup h1{
    color: white;
    text-align: center;
    font-size: 60px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}