.signup {
    padding: 2rem;
    padding: 20vh;
}

.signup h1{
    color: white;
    font-family: serif;
    font-size: 3.5rem;
    opacity: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(100px);
}

.overlaysign {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Dark overlay for background image */
    z-index: 2;
}
.mainContainer{
    background-image: url(C:\Users\TreeP\OneDrive\Desktop\CSUSB\BonsaiProj\public\pexels-leonardho-1552105.png);
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}