.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/Indoor1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for background image */
    z-index: 1;
}

.hero-content {
    color: white;
    text-align: center;
    z-index: 2;
}

.hero-content h1 {
    padding-top: 10rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.gym-btn {
    background-color: #1cda71;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.gym-btn:hover {
    background-color: #17a456;
}