.hero-section {
    position: relative;
    height: 50vh;
    background-image: url('../../public/Indoor1.png');
    padding: 20px;
    background-size: cover;
    background-position: center 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for background image */
    z-index: 1;
}

.hero-content {
    color: white;
    text-align: center;
    z-index: 2;
}

.hero-content h1 {
    padding-top: 10rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.gym-btn {
    background-color: #1cda71;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.gym-btn:hover {
    background-color: #17a456;
}

.info-section {
    background-color: green;
    height: 40vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333; /*Text color*/
    padding: 20px;
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-section p {
    font-size: 1.25rem;
    text-align: center;
    max-width: 800px;
}

.reachout-section {
    background-color: beige;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.end-section {
    background-color: aliceblue;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}